
@media screen and (min-width:568px) and (max-width: 768px) { /***** PHONE LANDSCAPE + TABLET (somewhat) *******/

/* Navigation Bar */

html {
	overflow-x: hidden;
}
#navwrapper {
	display:none;
}

#navside {
	display:none;
}

.menu {
	display:none;
}

.menu li {
	display:none;
}

.menu li a, .menu li a:visited {
	display:none;

}

.welcomecontain { 
    width: 200px;
    height: 120px;
}

/* resize images */
.welcomecontain img {
    width: 85%;
    height: auto;
}

.bannercontain { 
    width: 200px;
    height: 120px;
}

/* resize images */
.bannercontain img {
    width: 85%;
    left: 54% !important;
    height: auto;

}
#btext {
	width: 85%;
    height: auto;
    left: 49% !important;
    white-space: nowrap;
}
#btext h1{
	font-size:28px;
}

article {
	position: absolute;
	background: #fff;
	padding: 10px;
	left: 42%;
	text-align: center;
	z-index: 900;
	} 
article#oldcar5 {   /*right*/
	margin: 1175px 0 0 120px;
	width: 210px;
	opacity: 1;
	border: 1px #111 solid;
	outline: 10px #fff solid;
	}

article#oldcar6 {   /*left*/  
	margin: 1975px 0 0 -230px;
	width: 210px;
	opacity: 1;
	border: 1px #111 solid;
	outline: 10px #fff solid;
	}

article#oldcar7 {   /*right2*/
	margin: 2775px 0 0 120px;
	width: 210px;
	opacity: 1;
	border: 1px #111 solid;
	outline: 10px #fff solid;
	}

article#oldcar8 {   /*left*/  
	margin: 3575px 0 0 -230px;
	width: 210px;
	opacity: 1;
	border: 1px #111 solid;
	outline: 10px #fff solid;
	}

	#oldcar {
		left: 54%;
	}
	#newcar {
		left: 54%;
	}
	#oldtrain {

	left: 54.002%;

	}
#newtrain {

	left: 60.002%;
	}
#oldplane {
	left: 54.1%;
	}
#plane3 {
	left: 54.1%;
	}
h1.end {
	width: 70%;
	padding-left:100px;
	font-size: 35px;
	}
h1.second {
	width: 70%;
	padding-left:100px;
	font-size: 35px;
	}
}
#clouds {
	height: 850px;
	margin-top: 290px;
	}








